<div class="images">
<% @images.each do |image| %>
  <div>
    <%= image_tag(picture_for_image_path(image.id), alt: image.name) %>
  </div>
<% end %>

</div>

<%#= link_to 'New Image', new_image_path %>
